async-timeout==4.0.2
boto3==1.26.30
botocore==1.29.30
chardet==5.1.0
cloudpathlib==0.10.0
cloudpickle==2.2.0
jmespath==1.0.1
lmdb==1.4.0
lmdbm==0.0.5
pysos==1.2.9
python-dateutil==2.8.2
redis==4.4.0
s3transfer==0.6.0
six==1.16.0
spoonbill-framework==0.0.1a0
urllib3==1.26.13
